/* tailwind-input.css file is the input css file to tailwindcss. It is compiled into app/tailwind.css */
/* tailwind-input.css must not be included in the app. Instead, include ~/tailwind.css in the app */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    table, tr, td, th {
        padding: 0;
    }

    h1 {
        @apply text-3xl font-bold mb-3
    }

    p {
        @apply my-2
    }

    section {
        @apply my-3
    }

    h2 {
        @apply text-xl font-bold mb-1
    }

    a {
        @apply underline text-blue-900 hover:font-extrabold
    }
}

@layer components {
    .button-primary {
        @apply px-3 py-2 m-1 bg-slate-600 text-white rounded
    }

    .tutorial {
        @apply p-2 m-2 bg-blue-100 rounded
    }

    .alert {
        @apply p-2 m-2 bg-red-100 rounded
    }

    .form-add-text-input {
        @apply p-2 m-1 rounded border border-black grow focus:border-blue-400
    }

    .drag-handle {
        width: 18px;
        position: relative;
        bottom: 0;
        margin-right: 3px;
        background-color: #fff;
        background-image: linear-gradient(45deg, #000 25%, transparent 25%, transparent 75%, #000 75%), linear-gradient(45deg, #000 25%, transparent 25%, transparent 75%, #000 75%);
        background-size: 2px 2px;
        background-position: 0 0, 5px 5px;
    }
}

a.active {
    @apply font-extrabold text-green-900
}
